ul {
list-style-type:  none;
}
body {
     background-color:  #222222;
}
h2 {
    color: rgb(255,194,0);
}

.jumbotron {
     background-color:  #00EE00;
     font-family: 'Exo', sans-serif;
}
.jumbotron p {
    color: #191919;
}
.jumbotron hr {
    border-color: #191919;
}
p {
    color: rgb(255,194,0);
       font-family: 'Roboto', sans-serif;
}
img {
    background-color: #222;
    border: 5px solid #00EE00;
    border-color: #00EE00;
}
.dropdown-menu {
    background-color: #222;
}
.dropdown-menu li a, a:hover {
    color: rgb(255,194,0);
}
.dropdown-menu li a button {
    background-color:  #222;
}
.dropdown-menu li a:hover{
    color: rgb(255,194,0);
    background-color: #00EE00;
}
.btn btn-primary dropdown-toggle{
   background-color:  #00EE00;
}